.top header {
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    color: black;
    font-family: "Verdana";
}

.anchor {
    margin-top: 40px;
    text-align: center;
}

.anchor a {
    color: Aquamarine;
    font-size: 16px;
}